csirtg_indicator>=0.0.0b25,<1.0
numpy>=1.14,<1.15
scikit-learn>=0.19,<0.20
scipy>=1.0,<1.1
editdistance>=0.3,<1.0

# testing only
#https://github.com/csirtgadgets/csirtg-urlsml-py/archive/master.zip
#https://github.com/csirtgadgets/csirtg-domainsml-py/archive/master.zip
#https://github.com/csirtgadgets/csirtg-mail-py/archive/master.zip

csirtg-domainsml>=0.0.0a5,<1.0
csirtg_urlsml>=0.0.0a4,<1.0
csirtg_ipsml>=0.0.0a2,<1.0
csirtg_mail>=0.0.0a12,<1.0

Flask>=0.12.2,<0.13
flask-restplus>=0.9.2,<1.0

